<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @observation_type.nombre %>
</p>

<%= link_to 'Edit', edit_observation_type_path(@observation_type) %> |
<%= link_to 'Back', observation_types_path %>
