<% provide(:title, "AELUCOOP - Admisión de Socios") %>
<div class='gracias centered-form-flex'>
	<div id="contratos" class="centered-form-flex full-width" style="margin:2rem 0;">
		<div class="w30">	
			<p class="text">Al haber desempeñado un cargo público o función importante en una organización internacional necesitamos pedirte información adicional. Por favor acércate a cualquiera de nuestras oficinas para completar tu Solicitud de Afiliación.</p>
			<div style="text-align: center; margin: 3rem 0;">
				<a href="https://www.aelucoop.pe/" class="thanks-btn">Aceptar</a>
			</div>
		</div>
	</div>
</div>

