<% provide(:title, "AELUCOOP - Admisión de Socios") %>
<div class='gracias centered-form-flex'>
	<div id="contratos" class="centered-form-flex full-width" style="margin:2rem 0;">
		<div class="w30">	
			<div class="title">
		  	<h2 class="form-title">¡Gracias!</h2>
			</div>
			<p class="text">Nos contactaremos contigo en un plazo máximo de 72 horas para informarte sobre el estado de tu solicitud.</p>
			<p class="text">De ser aprobada, deberás acercarte a cualquiera de nuestras agencias para completar tu registro y cancelar los S/ 60.00 de aporte.</p>
			<p class="text">No olvides traer tu DNI y un recibo de servicios con la dirección que ingresaste.</p>
			<div style="text-align: center; margin: 3rem 0;">
				<a href="https://www.aelucoop.pe/" class="thanks-btn">Aceptar</a>
			</div>
		</div>
	</div>
</div>

