<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @economy_sector.name %>
</p>

<%= link_to 'Edit', edit_economy_sector_path(@economy_sector) %> |
<%= link_to 'Back', economy_sectors_path %>
