@media  (min-width: 1024px) and (max-width: 1400px) {
  html, body{
  	font-size:14px !important;
  }
  .landing{
  	height: auto;
  }
  .left50{
  	width:60%;
  }
  .landing-title{
  	padding-top: 2rem;
  }
  .landing-legal{
  	padding-bottom: 2rem;
  }
  .request{
  	width: 80%;
  }
}
@media print { 
 /* All your print styles go here */
 #header, #footer, #nav { display: none !important; } 
 .ftable{
 	background-color:black 
 }
}