@media  (min-width: 1000px) and (max-width: 1400px) {
  html, body{
  	font-size:14px !important;
  }
  .landing{
  	height: auto;
  }
  .left50{
  	width:100%;
    padding: 0 10%;
  }
  .landing-title{
  	padding-top: 2rem;
  }
  .landing-legal{
  	padding-bottom: 2rem;
  }
  .request{
  	width: 100%;
  }
}
@media print { 
 /* All your print styles go here */
	#header, 
	#footer, 
	#nav { 
		display: none !important; 
	} 
	.no-print{
		display: none;
	}
}